<!DOCTYPE html>
<html lang="en">
{{> header}}
<body class="flex flex-column items-start justify-center bg-blue-200">

    <div class="w-4/5 text-center mt-10" id="container">
        <h1 class="text-5xl font-bold">Ops... hubo un error!</h1>
        
        <div>
            <p class="my-10 font-bold">Al parecer la página que buscas no existe, regresa al inicio o contacta al desarrollador a: josuesyc_1393@hotmail.com</p>
            <a href="/" class="bg-blue-400 font-bold p-2 mt-10 border-black rounded-full hover:bg-blue-500 hover:text-white">Regresar al inicio</a>
        </div>
    </div>
        
</body>
</html>