<!DOCTYPE html>
<html lang="en">
{{> header}}
<body class="flex flex-column items-start justify-center bg-blue-200">

    <div class="w-4/5 text-center mt-10" id="container">
        <h1 class="text-5xl font-bold">Elegir una clase</h1>
        
        <div class="mt-10">
            <h3 class="font-bold text-red-600 mb-3" id="class-validation"></h3>
            <input type="text" id="class-create" class="p-2 rounded-full focus:outline-none" />
            <button id="create-class-btn" class="bg-blue-300 p-2 border-black rounded-full hover:bg-blue-400 hover:text-white">Crear una clase</button>
            <a href="/" class="bg-blue-300 p-2 border-black rounded-full hover:bg-blue-400 hover:text-white">Elegir otro examen</a>
        </div>

        <div class="w-full mt-3 p-10 flex flex-wrap flex-column justify-left" id="class_container"></div>
    </div>

    <input type="hidden" id="testDate" value="{{testDate}}" />
    <input type="hidden" id="testID" value="" />

    {{> footer}}
    <script src="../js/class.js"></script>
</body>
</html>