<!DOCTYPE html>
<html lang="en">
{{> header}}
<body class="flex flex-column items-start justify-center bg-blue-200">

    <div class="w-4/5 text-center mt-10" id="container">
        <h1 class="text-5xl font-bold">Elegir un examen</h1>

        <div class="mt-10">
            <h3 class="font-bold text-red-600 mb-5" id="test-validation"></h3>
            <input type="date" id="test-create" class="p-2 rounded-full focus:outline-none" />
            <button class="bg-blue-300 p-2 border-black rounded-full hover:bg-blue-400 hover:text-white" id="create-test-btn">Crear un examen</button>
        </div>

        <div class="test-dates w-full h-full mt-3 p-10 flex flex-wrap flex-column justify-left" id="test_dates"></div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/database.js"></script>
    <script src="js/home.js"></script>
</body>
</html>