<!DOCTYPE html>
<html lang="en">
{{> header}}
<body class="flex flex-column items-start justify-center bg-blue-200 overflow-y-auto">

    <div class="w-4/5 text-center mt-10" id="container">
        <h1 class="text-5xl font-bold">Calculadora de notas: 9-1</h1>
        
        <div>
            <input type="text" id="group-create" class="p-2 rounded-full focus:outline-none" />
            <button class="bg-blue-300 p-2 mt-10 border-black rounded-full hover:bg-blue-400 hover:text-white">Crear un grupo</button>
            <a href="/indicators" class="bg-blue-300 p-2 mt-10 border-black rounded-full hover:bg-blue-400 hover:text-white">Cambiar indicadores</a>
            <a href="/class" class="bg-blue-300 p-2 mt-10 border-black rounded-full hover:bg-blue-400 hover:text-white">Cambiar clase</a>
        </div>

        <div class="test-dates w-full p-10 flex flex-wrap flex-column justify-center" id="test_dates" id="groups">

            <div class="w-full mb-10 group">
                <div id="title" class="bg-blue-300 w-full font-bold text-lg">Grupo A</div>
                <div id="students">
                    <div class="student">
                        <table class="w-full">
                            <thead>
                                <tr class="border-2 border-black">
                                    <th class="border-2 border-black">Nombre del estudiante</th>
                                    <th class="border-2 border-black">Respuestas erroneas</th>
                                    <th class="border-2 border-black">Pts obtenidos</th>
                                    <th class="border-2 border-black">Nota</th>
                                    <th class="border-2 border-black" colspan="2">Porcentage %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="flex justify-end"><button class="bg-green-300 mt-2 p-2 hover:bg-green-400">Añadir estudiante</button></div>
            </div>

            <div class="w-full mb-10 group">
                <div id="title" class="bg-blue-300 w-full font-bold text-lg">Grupo B</div>
                <div id="students">
                    <div class="student">
                        <table class="w-full">
                            <thead>
                                <tr class="border-2 border-black">
                                    <th class="border-2 border-black">Nombre del estudiante</th>
                                    <th class="border-2 border-black">Respuestas erroneas</th>
                                    <th class="border-2 border-black">Pts obtenidos</th>
                                    <th class="border-2 border-black">Nota</th>
                                    <th class="border-2 border-black" colspan="2">Porcentage %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="flex justify-end"><button class="bg-green-300 mt-2 p-2 hover:bg-green-400">Añadir estudiante</button></div>
            </div>

            <div class="w-full mb-10 group">
                <div id="title" class="bg-blue-300 w-full font-bold text-lg">Grupo C</div>
                <div id="students">
                    <div class="student">
                        <table class="w-full">
                            <thead>
                                <tr class="border-2 border-black">
                                    <th class="border-2 border-black">Nombre del estudiante</th>
                                    <th class="border-2 border-black">Respuestas erroneas</th>
                                    <th class="border-2 border-black">Pts obtenidos</th>
                                    <th class="border-2 border-black">Nota</th>
                                    <th class="border-2 border-black" colspan="2">Porcentage %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                                <tr class="border-2 border-black">
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="Alvarez Abarca Isaí" /></td>
                                    <td class="border-2 border-black"><input type="text" class="w-full bg-transparent focus:outline-none" value="9, 35, 24, 22" /></td>
                                    <td class="border-2 border-black">15</td>
                                    <td class="border-2 border-black">100</td>
                                    <td class="border-2 border-black">22</td>
                                    <td class="border-2 border-black bg-red-300"><button class="font-bold">X</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="flex justify-end"><button class="bg-green-300 mt-2 p-2 hover:bg-green-400">Añadir estudiante</button></div>
            </div>

        </div>
    </div>
    
</body>
</html>